[Unit]
Description=Brown Noise Player
After=sound.target

[Service]
ExecStart=/home/pramod/code/homelab/scripts/white-noise-play.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
